*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#navbar{
    padding: 32px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

#navbar .navlinks{
    display: flex;
    gap: 40px;
    font-size: 18px;
}

#navbar .navlinks li{
    list-style: none;
}

#navbar .navlinks a{
    color: #cee4ff;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110vh;
    padding: 32px 220px;
    background-image: url("/asset/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 40px;
}